extends layout

block content
  div(class="app-container")
    div(class="players-actions")
      form(id="player-form")
        div(class="form-group")
          label Player name:
          input(type="text" placeholder="" class="player-name" value="")

        input(type="button" id="add-player-btn" value="Add a player")

    div(class="playlist-actions")
      form(id="playlist-form")
        div(class="form-group")
          input(type="text" placeholder="" id="playlist-title" value="playlist" disabled)
        div(class="form-group search-bar")
          input(type="text" placeholder="Search" id="search-form-query" value="metallica")
        div(class="form-group radio")
          div(class="filter-choice")
            input(type="radio" name="filter" value="keywords" id="keywords-radio")
            label(for="keywords-radio") Keywords
          div(class="filter-choice")
            input(type="radio" name="filter" value="artist" id="artist-radio" checked)
            label(for="artist-radio") Artists
          div(class="filter-choice")
            input(type="radio" name="filter" value="genre" id="genre-radio")
            label(for="genre-radio") Genre
          div(class="filter-choice")
            input(type="radio" name="filter" value="year" id="year-radio")    
            label(for="year-radio") Year
        div(class="buttons-container")    
          input(class="button" type="button" id="search-form-submit" value="search")
    
    div(class="ingame-container")
      div(id="answer-container")
      div(id="game-controler" class="buttons-container")
        button( class="button" id="trigger") Play
        button( class="button" id='next') Next
        button( class="button" id='answer') Answer

  script(src="/javascripts/game-parameters.js")
  script(src="/javascripts/player.js")
  script(src="/javascripts/init.js")
